<div class="languages-section">
    <div class="ui form grid">
        <div class="sixteen wide column">
            <div class="ui header section-title">
                <div class="content">
                    <h1>PHRASES</h1>
                    <div class="sub header">from {{selectedDocument}} document</div>
                </div>
            </div>
        </div>
        <div class="sixteen wide fixed selectable column striped table-container">
            <table class="ui celled compact table">
                <thead>
                <tr>
                    <th colspan="2">SELECT</th>
                    {{#each selectedLanguages as |language|}}
                        <th>{{language.label}}</th>
                    {{/each}}
                </tr>
                </thead>
                <tbody>
                {{#each availablePhrases as |phrases index|}}
                    <tr class="{{unless phrases.isSelected 'unselected'}}">
                        <td>{{#unless index}}
                            <div class="ui ribbon label">{{selectedDocument}}</div>{{/unless}}{{sum index 1}}</td>
                        <td class="center aligned" onclick={{action (toggle "isSelected" phrases)}}>
                            {{ui-checkbox checked=phrases.isSelected}}
                        </td>
                        {{#each phrases as |phrase|}}
                            <td>{{phrase}}</td>
                        {{else}}
                            <td>&nbsp;</td>
                        {{/each}}
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
        <div class="sixteen wide column">
            <button class="ui right floated button black" {{action 'next'}}>Next</button>
            <button class="ui right floated button black" {{action 'prev'}}>Prev</button>
        </div>
    </div>
</div>

